---
import Layout from '../../layouts/Layout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
const base = import.meta.env.BASE_URL;
const projects = (await getCollection('projects')).sort(
  (
    a: CollectionEntry<'projects'>,
    b: CollectionEntry<'projects'>
  ) => (a.data.order ?? 0) - (b.data.order ?? 0)
);

const tagClassMap: Record<string, string> = {
  'UI/UX': 'tag--uiux',
  'Product Design': 'tag--product',
  'Mobile Design': 'tag--mobile',
  SaaS: 'tag--saas',
  Branding: 'tag--branding',
};

const getTagClass = (tag: string) => tagClassMap[tag] ?? '';
---
<Layout title="Проекты" currentPage="projects">
  <section class="projects-page" id="projects-page">
    <div class="container">
      <div class="projects__header">
        <h3>↳ Проекты</h3>
        <p>
          В моем портфолио представлены кейсы по UI/UX, продуктовому и
          мобильному дизайну, а также брендингу. Я специализируюсь на
          создании интуитивно понятных интерфейсов и визуальных стратегий,
          которые помогают бизнесу расти, а пользователям — решать их задачи
        </p>
      </div>
    </div>
  </section>
  <section
    class="projects projects-in__page"
    id="projects"
    aria-labelledby="projects-title"
  >
    <div class="container">
      <ul class="projects__grid">
        {projects.map((project: CollectionEntry<'projects'>) => (
          <li class="projects__item">
            <a
              href={project.data.link ?? `${base}projects/${project.slug}/`}
              class="project-card"
            >
              <article
                class="project-card__content"
                style={`background-image: url(${project.data.image});`}
              >
                {project.data.tags?.length ? (
                  <ul class="project-card__tags">
                    {project.data.tags.map((tag: string) => (
                      <li class={`tag ${getTagClass(tag)}`}>{tag}</li>
                    ))}
                  </ul>
                ) : null}
              </article>
              <h3 class="project-card__title">{project.data.title}</h3>
            </a>
          </li>
        ))}
      </ul>
    </div>
  </section>
</Layout>
